# 忽略 Visual Studio 相关文件
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# 忽略编译生成的文件
x64/
x86/
*.obj
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.ipch
*.log

# 忽略 CMake 生成的文件（如果你使用 CMake）
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# 忽略 Glad 相关文件（如果不希望提交）
glad.c
